@import "./colors.scss";

header {
    width: 100%;
}

.app-header {
    display: flex;
    justify-content: space-between;
    height: 4.375rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: center;
    padding: 0 20px;
    .home-logo {
        font-size: 28px;
        color: #707070;
        font-weight: 600;
        letter-spacing: 1;
        height: 40px;
        display: flex;
        align-items: center;
        img {
            height: 100%;
            width: auto;
            // display: inline-block;
        }
        .text {
            margin-left: 1rem;
            color: black;
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        .noti-bell {
            width: 48.8px;
            height: 55.8px;
            margin-right: 20px;
        }
        .menu {
            display: flex;
            font-size: 1.5rem;
            align-items: baseline;
            color: #707070;
            padding: 0 1rem;
        }
    }
}

.manager-page {
    font-weight: 600;
    color: #000 !important;
}
