.tv2 {
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 98px;
    padding: 1rem 6rem;
    .noti-board2 {
        border: 1px solid black;
        border-collapse: collapse;
        width: 100%;
        margin: 10px;
        text-align: center;
    }
}

.noti-board2 > tbody > tr:nth-child(odd) {
    background-color: #dcdbdc;
}

.w3-button {
    color: #fff !important;
}

.noti-board2 > tbody > tr > td {
    border: 1px solid black;
    // padding: 5px;
    line-height: 1.5;
    .tv-image {
        // margin: auto;
        height: 56px;
        width: 56px;
        margin: 0.5rem auto;
    }
}
#table-list {
    // padding: 1rem 4rem;
    margin: 1rem 0;
    width: 90%;
    td {
        font-size: 1rem;
    }
}
#table-list > tbody > tr > td {
    line-height: 2;
}

.table-head2 {
    font-weight: 600;
    color: #fff;
    // font-size: 2rem;
    background: #333333;
    line-height: 1.5;
    // padding: 5px;
}
