.supervisor-content {
    display: flex;
    width: 100%;
    .line-container {
        width: 100%;
        transition: transform 1s;
        .line-title {
            font-size: 48px;
            color: #444444;
            margin: 2rem 3rem 0;
        }
    }
    .line-map {
        // height: 80vh;
        // height: 800px;
        position: relative;
        margin: auto;
        .green-worker {
            width: 100px;
            height: 70x;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: -96px;
            }
        }

        .red-worker {
            width: 100px;
            height: 70px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: -197px;
            }
        }

        .yellow-worker {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: -297px;
            }
        }
        .map-pic {
            margin: auto;
            display: block;
            width: 85rem;
            height: auto;
        }
        .position {
            position: absolute;
            width: 100px;
            height: 100px;
            &-M1 {
                top: 7rem;
                left: 33rem;
            }
            &-M2 {
                top: 48rem;
                left: 32rem;
                transform: rotate(-90deg);
            }
            &-P1 {
                top: 5rem;
                left: 40rem;
            }
            &-P2 {
                top: 17rem;
                left: 43rem;
                transform: rotate(180deg);
            }
            &-P3 {
                top: 41rem;
                left: 43rem;
            }
            &-P4 {
                top: 54rem;
                left: 43rem;
                transform: rotate(180deg);
            }
        }
    }
}

.line-noti {
    background-color: #f8f8f8;
    width: 100%;
    padding: 1rem 9rem;
    // display: none;
    .noti-title {
        height: 5rem;
        background-color: black;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        padding: 0 2rem;
    }
    .noti-container {
        // padding: 1rem 2rem;
        font-size: 20px;
        & ul > li {
            padding: 0.5rem 0;
        }
        & ul > li:nth-child(odd) {
            background-color: #dcdbdc;
        }
        & ul > li {
            padding: 0.5rem 2rem;
            display: flex;
            justify-content: space-between;
            .list-li {
                max-width: 80%;
            }
        }
    }
}

#absent-position {
    color: #cc0e03;
    font-weight: 600;
}

#occupied-position,
#occupied-name,
#fillin-position {
    color: #ffa80c;
    font-weight: 600;
}

.white-worker {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0;
    }
}

.green-worker {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -96px;
    }
}

.red-worker {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -197px;
    }
}

.yellow-worker {
    width: 100px;
    height: 100px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -297px;
    }
}

.operator-container {
    width: 302.9px !important;
}
.operator-container-big {
    width: 50% !important;
    // display: flex;
    // justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.005) !important;
}

.big-modal {
    // display: flex;
}

.operator-modal {
    height: 437.8px;
}

.operator-modal-big {
    height: 437.8px;
    justify-content: space-between;
    display: flex;
    width: 100% !important;
}

.green-modal {
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #00452d;
}

.red-modal {
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #cc0e03;
}

.w3-container {
    padding: 0 !important;
}

.worker-red-absent {
    font-size: 24px;
    font-weight: bold;
    margin-top: 40px;
}

.yellow-modal {
    box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffa80c;
}

.worker-position-yellow {
    height: 35px;
}

.modal-content {
    padding: 33px 0;
    color: white;
    text-align: center;
    // width: 302.9px !important;
    width: 100%;
    max-width: 300px;
}

.modal-ava {
    width: 100%;
    height: 126.2px;
}

.modal-ava > img {
    width: 126.2px;
    height: 126.2px;
    object-fit: cover;
    border-radius: 50%;
}

.modal-name {
    font-size: 29px;
}

.worker-id {
    font-size: 16px;
}

.worker-type {
    font-size: 20px;
    font-weight: bold;
}

.worker-position {
    font-size: 18px;
    font-weight: normal;
}

.worker-skill {
    font-size: 16px;
    font-weight: normal;
}

.worker-status {
    font-size: 24px;
    font-weight: bold;
}

.status-btn > button {
    width: 109px;
    height: 36px;
    border-radius: 11px;
    background-color: #ffffff;
    margin-top: 18.3px;
}
