.tv {
    width: 100%;
    display: flex;
    justify-content: center;
    // margin-top: 98px;
    .noti-board {
        border: 1px solid black;
        border-collapse: collapse;
        width: 90%;
        // margin: 10px;
        margin-top: 1rem;
        text-align: center;
    }
}

.noti-board > tbody > tr:nth-child(odd) {
    background-color: #dcdbdc;
}

.noti-board > tbody > tr > td {
    border: 1px solid black;
    // padding: 5px;
    // line-height: 1;
    font-size: 2rem;
    .tv-image {
        // margin: auto;
        height: 56px;
        width: 56px;
        margin: 0.5rem auto;
        img {
            object-fit: cover;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
}

.table-head {
    font-weight: 600;
    color: #fff;
    // font-size: 2rem;
    background: #333333;
    line-height: 1.5;
    // padding: 5px;
}
