header {
  width: 100%; }

.app-header {
  display: flex;
  justify-content: space-between;
  height: 98px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  align-items: center;
  padding: 0 20px; }
  .app-header .home-logo {
    font-size: 30px;
    color: #707070;
    font-weight: 600;
    letter-spacing: 1;
    height: 64px;
    display: flex;
    align-items: center; }
    .app-header .home-logo img {
      height: 100%;
      width: auto; }
    .app-header .home-logo .text {
      margin-left: 16px;
      color: black; }
  .app-header .header-right {
    display: flex;
    align-items: center; }
    .app-header .header-right .noti-bell {
      width: 48.8px;
      height: 55.8px;
      margin-right: 20px; }
    .app-header .header-right .menu {
      display: flex;
      font-size: 30px;
      align-items: baseline;
      color: #707070;
      padding: 0 1rem; }

.manager-page {
  font-weight: 600;
  color: #000 !important; }
