@media (max-width: 1024px) {
  html {
    font-size: 1.5vw !important; }
  .position {
    width: 4rem !important;
    height: 4rem !important; } }

.supervisor-content {
  display: flex;
  width: 100%; }
  .supervisor-content .line-container {
    width: 100%;
    transition: transform 1s; }
    .supervisor-content .line-container .line-title {
      font-size: 48px;
      color: #444444;
      margin: 2rem 3rem 0; }
  .supervisor-content .line-map {
    position: relative;
    margin: auto; }
    .supervisor-content .line-map .green-worker {
      width: 100px;
      height: 70x; }
      .supervisor-content .line-map .green-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -100px; }
    .supervisor-content .line-map .red-worker {
      width: 100px;
      height: 70px; }
      .supervisor-content .line-map .red-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -200px; }
    .supervisor-content .line-map .yellow-worker {
      width: 100px;
      height: 100px; }
      .supervisor-content .line-map .yellow-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -300px; }
    .supervisor-content .line-map .map-pic {
      margin: auto;
      display: block;
      width: 70%;
      height: auto; }
    .supervisor-content .line-map .position {
      position: absolute;
      width: 6.25rem;
      height: 6.25rem; }
      .supervisor-content .line-map .position-M1 {
        top: 5rem;
        left: 33rem; }
      .supervisor-content .line-map .position-M2 {
        top: 48rem;
        left: 32rem;
        transform: rotate(-90deg); }
      .supervisor-content .line-map .position-P1 {
        top: 5rem;
        left: 40rem; }
      .supervisor-content .line-map .position-P2 {
        top: 15.4rem;
        left: 41rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-P3 {
        top: 42.1rem;
        left: 39rem; }
      .supervisor-content .line-map .position-P4 {
        top: 52.4rem;
        left: 40.9rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-A1 {
        top: 8.4rem;
        left: 75.3rem; }
      .supervisor-content .line-map .position-A2 {
        top: 12.4rem;
        left: 75.9rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-C1 {
        top: 5rem;
        left: 69.6rem; }
      .supervisor-content .line-map .position-C2 {
        top: 15.4rem;
        left: 70.7rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-A3 {
        top: 45.4rem;
        left: 75.3rem; }
      .supervisor-content .line-map .position-A4 {
        top: 49.4rem;
        left: 75.9rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-C3 {
        top: 42.3rem;
        left: 69.6rem; }
      .supervisor-content .line-map .position-C4 {
        top: 52.4rem;
        left: 70.7rem;
        transform: rotate(180deg); }

.line-noti {
  background-color: #f8f8f8;
  width: 90%;
  margin: 1rem auto; }
  .line-noti .noti-title {
    line-height: 3;
    padding-left: 2rem;
    background-color: black;
    color: white;
    font-size: 1rem; }
  .line-noti .noti-container ul > li {
    padding: 0.5rem 0; }
  .line-noti .noti-container ul > li:nth-child(odd) {
    background-color: #dcdbdc; }
  .line-noti .noti-container ul > li {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between; }
    .line-noti .noti-container ul > li .list-li {
      max-width: 80%; }

#absent-position {
  color: #cc0e03;
  font-weight: 600; }

#occupied-position,
#occupied-name,
#fillin-position {
  color: #ffa80c;
  font-weight: 600; }

.white-worker {
  width: 100px;
  height: 100px; }
  .white-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0; }

.green-worker {
  width: 100px;
  height: 100px; }
  .green-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -96px; }

.red-worker {
  width: 100px;
  height: 100px; }
  .red-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -197px; }

.yellow-worker {
  width: 100px;
  height: 100px; }
  .yellow-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -297px; }

.operator-container {
  width: 302.9px !important; }

.operator-container-big {
  width: 50% !important;
  background-color: rgba(0, 0, 0, 0.005) !important; }

.operator-modal {
  height: 437.8px; }

.operator-modal-big {
  height: 437.8px;
  justify-content: space-between;
  display: flex;
  width: 100% !important; }

.green-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #00452d; }

.red-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #cc0e03; }

.w3-container {
  padding: 0 !important; }

.worker-red-absent {
  font-size: 24px;
  font-weight: bold;
  margin-top: 40px; }

.yellow-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffa80c; }

.worker-position-yellow {
  height: 35px; }

.modal-content {
  padding: 33px 0;
  color: white;
  text-align: center;
  width: 100%;
  max-width: 300px; }

.modal-ava {
  width: 100%;
  height: 126.2px; }

.modal-ava > img {
  width: 126.2px;
  height: 126.2px;
  object-fit: cover;
  border-radius: 50%; }

.modal-name {
  font-size: 29px; }

.worker-id {
  font-size: 16px; }

.worker-type {
  font-size: 20px;
  font-weight: bold; }

.worker-position {
  font-size: 18px;
  font-weight: normal; }

.worker-skill {
  font-size: 16px;
  font-weight: normal; }

.worker-status {
  font-size: 24px;
  font-weight: bold; }

.status-btn > button {
  width: 109px;
  height: 36px;
  border-radius: 11px;
  background-color: #ffffff;
  margin-top: 18.3px; }
