@media (max-width: 1920px) {
  html {
    font-size: 24px !important; } }

@media (max-width: 1025px) {
  html {
    font-size: 1.5vw !important; }
  .position {
    width: 4rem !important;
    height: 4rem !important; }
  .green-worker img {
    object-position: -4rem !important; }
  .red-worker img {
    object-position: -8rem !important; }
  .yellow-worker img {
    object-position: -12rem !important; } }

.supervisor-content {
  display: flex;
  width: 100%; }
  .supervisor-content .line-container {
    width: 100%;
    transition: transform 1s; }
    .supervisor-content .line-container .line-title {
      font-size: 48px;
      color: #444444;
      margin: 2rem 3rem 0; }
  .supervisor-content .line-map {
    position: relative;
    text-align: center; }
    .supervisor-content .line-map .green-worker {
      width: 100px;
      height: 70x; }
      .supervisor-content .line-map .green-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -6.25rem; }
    .supervisor-content .line-map .red-worker {
      width: 100px;
      height: 70px; }
      .supervisor-content .line-map .red-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -12.5rem; }
    .supervisor-content .line-map .yellow-worker {
      width: 100px;
      height: 100px; }
      .supervisor-content .line-map .yellow-worker img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: -18.75rem; }
    .supervisor-content .line-map .map-pic {
      margin: auto;
      display: inline-block;
      max-width: 100vw;
      width: 60rem;
      position: relative;
      height: auto; }
      .supervisor-content .line-map .map-pic img {
        width: 100%; }
    .supervisor-content .line-map .position {
      position: absolute;
      width: 6.25rem;
      height: 6.25rem; }
      .supervisor-content .line-map .position-M1 {
        top: 3.6rem;
        left: 10.5rem; }
      .supervisor-content .line-map .position-M2 {
        bottom: 3.6rem;
        left: 10.5rem;
        transform: rotate(-180deg); }
      .supervisor-content .line-map .position-P1 {
        top: 3.6rem;
        left: 15.5rem; }
      .supervisor-content .line-map .position-P2 {
        top: 11rem;
        left: 15.5rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-P3 {
        bottom: 11rem;
        left: 16rem; }
      .supervisor-content .line-map .position-P4 {
        bottom: 4rem;
        left: 16rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-A1 {
        top: 5.4rem;
        right: 12rem; }
      .supervisor-content .line-map .position-A2 {
        top: 9rem;
        right: 12.1rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-C1 {
        top: 3.6rem;
        right: 17rem; }
      .supervisor-content .line-map .position-C2 {
        top: 11rem;
        right: 17.1rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-L1 {
        top: 23rem;
        left: 4rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-L2 {
        top: 23rem;
        left: 11rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-C3 {
        bottom: 11rem;
        right: 17rem; }
      .supervisor-content .line-map .position-C4 {
        bottom: 4rem;
        right: 17.1rem;
        transform: rotate(180deg); }
      .supervisor-content .line-map .position-A3 {
        bottom: 5.4rem;
        right: 12rem; }
      .supervisor-content .line-map .position-A4 {
        bottom: 9rem;
        right: 12.1rem;
        transform: rotate(180deg); }

.line-noti {
  background-color: #f8f8f8;
  width: 90%;
  margin: 1rem auto; }
  .line-noti .noti-title {
    line-height: 3;
    padding-left: 2rem;
    background-color: black;
    color: white;
    font-size: 1rem; }
  .line-noti .noti-container ul > li {
    padding: 0.5rem 0; }
  .line-noti .noti-container ul > li:nth-child(odd) {
    background-color: #dcdbdc; }
  .line-noti .noti-container ul > li {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between; }
    .line-noti .noti-container ul > li .list-li {
      max-width: 80%; }

#absent-position {
  color: #cc0e03;
  font-weight: 600; }

#occupied-position,
#occupied-name,
#fillin-position {
  color: #ffa80c;
  font-weight: 600; }

.white-worker {
  width: 100px;
  height: 100px; }
  .white-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0; }

.green-worker {
  width: 100px;
  height: 100px; }
  .green-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -96px; }

.red-worker {
  width: 100px;
  height: 100px; }
  .red-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -197px; }

.yellow-worker {
  width: 100px;
  height: 100px; }
  .yellow-worker img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -297px; }

.operator-container {
  width: 18rem; }

.operator-container-big {
  width: 40rem !important;
  background-color: rgba(0, 0, 0, 0.005) !important; }
  .operator-container-big .w3-display-topright {
    right: 1.5rem; }

.w3-display-topright {
  font-size: 3rem;
  line-height: 1;
  padding: 0 1rem; }

.operator-modal-big {
  justify-content: space-between;
  display: flex;
  max-width: 1200px; }

.green-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #00452d; }

.red-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #cc0e03; }

.w3-container {
  padding: 0 !important; }

.worker-red-absent {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2.5rem; }

.yellow-modal {
  box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffa80c; }

.modal-content {
  padding: 2rem;
  color: white;
  text-align: center;
  width: 18rem; }

.modal-ava {
  width: 100%;
  height: 7.9rem; }

.modal-ava > img {
  width: 7.9rem;
  height: 7.9rem;
  object-fit: cover;
  border-radius: 50%; }

.modal-name {
  font-size: 1.8rem; }

.worker-id {
  font-size: 1rem; }

.worker-type {
  font-size: 1.25rem;
  font-weight: bold; }

.worker-position {
  font-size: 1rem;
  font-weight: normal; }

.worker-skill {
  font-size: 1rem;
  font-weight: normal; }

.worker-status {
  font-size: 1.5rem;
  font-weight: bold; }

.status-btn > button {
  width: 6.8rem;
  height: 2.25rem;
  border-radius: 11px;
  background-color: #ffffff;
  margin-top: 1.14rem; }
