.supervisor-content {
  display: flex;
  width: 100%; }
  .supervisor-content .line-container {
    width: 60%; }
    .supervisor-content .line-container .line-title {
      font-size: 48px;
      color: #444444;
      margin: 2rem 3rem; }
  .supervisor-content .line-noti {
    background-color: #f8f8f8;
    transform: translateX(500px); }
    .supervisor-content .line-noti .noti-title {
      height: 5rem;
      background-color: black;
      color: white;
      font-size: 2rem;
      display: flex;
      align-items: center;
      padding: 0 2rem; }
    .supervisor-content .line-noti .noti-container ul > li {
      padding: 0.5rem 0; }
    .supervisor-content .line-noti .noti-container ul > li:nth-child(odd) {
      background-color: #dcdbdc; }
    .supervisor-content .line-noti .noti-container ul > li {
      padding: 0.5rem 2rem;
      display: flex;
      justify-content: space-between; }
      .supervisor-content .line-noti .noti-container ul > li .list-li {
        max-width: 80%; }

#absent-position {
  color: #cc0e03;
  font-weight: 600; }

#occupied-position,
#occupied-name,
#fillin-position {
  color: #ffa80c;
  font-weight: 600; }
