.tv {
  width: 100%;
  display: flex;
  justify-content: center; }
  .tv .noti-board {
    border: 1px solid black;
    border-collapse: collapse;
    width: 90%;
    margin-top: 1rem;
    text-align: center; }

.noti-board > tbody > tr:nth-child(odd) {
  background-color: #dcdbdc; }

.noti-board > tbody > tr > td {
  border: 1px solid black;
  font-size: 2rem; }
  .noti-board > tbody > tr > td .tv-image {
    height: 56px;
    width: 56px;
    margin: 0.5rem auto; }
    .noti-board > tbody > tr > td .tv-image img {
      object-fit: cover;
      border-radius: 50%;
      width: 100%;
      height: 100%; }

.table-head {
  font-weight: 600;
  color: #fff;
  background: #333333;
  line-height: 1.5; }
